/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
}

h1 {
  font-style: italic;
  color: #373fff;
}

h2 {
  margin-top: 2em; 
}
#question1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}
  
.answer-choice img {
  width: 10em;
}
